bahtml, body, span, section, footer, div, nav, ul, li, a{
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
font: inherit;
}

body {
overflow-y: scroll;
line-height: 18px;	
font-size: 12px;
}

#react-root , article, div, footer, header, main, nav, section {
position: relative;
padding: 0;
margin: 0;
flex-shrink: 0;
flex-direction: column;
-ms-flex-negative: 0;
-ms-flex-direction: column;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
display: -webkit-flex;
display: flex;
display: -ms-flexbox;
box-sizing: border-box;
border: 1px solid black;
align-items: stretch;
-ms-flex-align: stretch;
-webkit-box-align: stretch;
}

#react-root, body, html {
height: 100%;
}

.mfd {
    min-height: 100%;
    overflow: hidden;	
}

.smauk {
background-color: rgba(240, 240, 240, 0.9);
}

.sma {
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-box-ordinal-group: 4;
-ms-flex-order: 3;
order: 3;
}

.artd {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: column;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin: 0 auto 0;
width: 100%;
}

.genThree {
-ms-flex-item-align: center;
align-self: center;
-ms-flex-preferred-size: 250px;
flex-basis: 250px;
margin-left: -10px;
margin-right: -10px;
text-align: center;
padding-top: 110px;
}